.u-section-1 .u-sheet-1 {min-height: 241px}
.u-section-1 .u-text-1 {margin: 20px 84px 0}
.u-section-1 .u-text-2 {margin: 34px 84px 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 660px}
.u-section-1 .u-text-2 {width: 437px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 287px}
.u-section-1 .u-text-2 {width: 340px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin: 50px 0}
.u-section-2 .u-video-1 {min-height: 451px}
.u-section-2 .u-container-layout-1 {padding: 20px}
.u-section-2 .u-layout-cell-2 {min-height: 451px}
.u-section-2 .u-container-layout-2 {padding: 20px 60px}
.u-section-2 .u-text-1 {margin: 0 -39px}
.u-section-2 .u-text-2 {margin: 34px -6px 0} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-2 {padding-left: 49px; padding-right: 49px} }

@media (max-width: 991px){ .u-section-2 .u-video-1 {min-height: 285px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-2 .u-layout-wrap-1 {margin-top: 42px; margin-bottom: 42px; margin-right: initial; margin-left: initial}
.u-section-2 .u-video-1 {min-height: 401px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-video-1 {min-height: 252px}
.u-section-2 .u-layout-cell-2 {min-height: 451px} }